body{
    background-image: url('./quadplay-background.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    
    }
    
.faqs-container {
    font-family: "Roboto", sans-serif;
    max-width: 700px;
    border-radius: 100px;
    margin: 0 auto;
  }
  
  .faqs-container .questions-container {
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.3);
  }
  
  .faqs-container h1 {
    padding: 4px 32px;
    font-size: 40px;
    color: #f1faee;
    text-align: center;
  }
  
  .faqs-container .faq-header {
    display: flex;
    background: #01010f;
    color: #f1faee;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    margin: 0.5rem;
    position: relative;
    cursor:pointer;
  }
  
  .faqs-container .faq-header .open,
  .faqs-container .faq-header .close {
    position: absolute;
    gap: 50px;
    right: 0;
    padding: 0 32px ;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
  }
  
  .faqs-container .faq-header .open.active,
  .faqs-container .faq-header .close.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .faqs-container .faq-header h3 {
    font-size: 20px;
    padding: 0 32px;
  }
  
  .faqs-container .content {
    padding: 0 32px;
    background: #fdfffc;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
  }
  
  .faqs-container .content.active {
    max-height: 600px;
    border-radius: 100px;
  }